body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E9EDEE;
    margin: 0 auto;
}
header {
    margin: 0 auto;
}
main {
    /*margin-left: 7px;
    margin-right: 7px;*/
    margin: 10px;
   
}

.Section1 {
    background-color: orangered;
   margin-top: 10px;
   margin-bottom: 10px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
}
.Section2 {
    background-image: url(../images/bg-image.png);
    width: 100%;
    background-size: contain;
    background-position: center;
    font-size: 0.5em ;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #E9EDEE;
    
}
.Section2 h3 {
    font: size 0.4em; ;
}

.Section2 p {
    font-size: 0.5em;
}

.Section3 {
    font-size: 0.3em;
    border: solid 1px #dee1e3 ;
    margin-top: 10px;
margin-bottom: 10px;
    
}
.Section4 {
    font-size: 0.3em;
    border: solid 1px #dee1e3 ;
    margin-top: 10px;
margin-bottom: 10px;
    
}
.Section5 {
    font-size: 0.3em;
    border: solid 1px #dee1e3 ;
    margin-top: 10px;
margin-bottom: 10px;
    
}
.Section3 p {
    font-size: 0.2em;
    color: blue;
    
}

.Section5 p {
    font-size: 0.2em;
    color: blue;
}
#appendex {
    text-align: left; 
}
.appendex, .appendex2, .appendex3 {
    display: inline-block;

    
}



.container {
    display: inline-block;
    padding: 4px;
    
  }
.container img {
    width: 90px;
    height: 100px;
    border: 1px;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(240, 235, 235) ;
}

.image {
    display: inline-block;
    width: 100%;
    height: 90px;
    object-fit: fill;
    
}
.audio, .virtual {
    display: inline-block;
    width: 100%;
    height: 90px;
    object-fit: fill;
}

h6 {
    font-size: 0.1em;
    color: white;
}

.logo1,
.logo2 {
    background-color: #222F3F;
}

.navbar,
.similNavbar {
    background-color: #374759;
}
.navbar {
    padding-left: 3px;
    
}

main,
footer {
    text-align: center;
}

.navbar p {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.4em;
    color: #8D99A0;
    font-size: 0.3em;
}

.logoTop {
    text-align: left;
    width: 9%;
}

.logoFooter {
    text-align: center;
    width: 12%;
}
.logo1 {
    
}
